USE [master]
GO
/****** Object:  Database [Project]    Script Date: 25/12/2024 3:22:31 pm ******/
CREATE DATABASE [Project]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Project', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.YASNA\MSSQL\DATA\Project.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Project_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.YASNA\MSSQL\DATA\Project_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Project].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Project]
GO
/****** Object:  Table [dbo].[Beverage]    Script Date: 25/12/2024 3:22:32 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




--by yasna
CREATE TABLE [dbo].[Beverage](
	[ItemId] [int] NOT NULL,
	[type] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Branch]    Script Date: 25/12/2024 3:22:32 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--by mahsa
CREATE TABLE [dbo].[Branch](
	[BranchId] [int] NOT NULL,
	[BranchAddress] [varchar](255) NOT NULL,
	[RestaurantId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BranchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BranchOrder]    Script Date: 25/12/2024 3:22:32 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--by yasna
CREATE TABLE [dbo].[BranchOrder](
	[BranchId] [int] NOT NULL,
	[OrderId] [int] NOT NULL,
 CONSTRAINT [pk_BranchOrder_BranchId_OrderId] PRIMARY KEY CLUSTERED 
(
	[BranchId] ASC,
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Chef]    Script Date: 25/12/2024 3:22:32 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--by mahsa
-
CREATE TABLE [dbo].[Chef](
	[EmployeeId] [int] NOT NULL,
	[Speed] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 25/12/2024 3:22:32 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--by mahsa
CREATE TABLE [dbo].[Customer](
	[CustomerId] [int] NOT NULL,
	[Name] [varchar](100) NULL,
	[Address] [varchar](255) NULL,
	[PhoneNo] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 25/12/2024 3:22:32 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--by yasna
CREATE TABLE [dbo].[Employee](
	[EmployeeId] [int] NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[BDate] [date] NULL,
	[Salary] [decimal](10, 2) NOT NULL,
	[Age] [int] NOT NULL,
	[BranchId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FamilyMember]    Script Date: 25/12/2024 3:22:32 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--by mahsa
CREATE TABLE [dbo].[FamilyMember](
	[EmployeeId] [int] NOT NULL,
	[FamilyMember] [varchar](100) NOT NULL,
	[Name] [varchar](100) NOT NULL,
 CONSTRAINT [pk_FamilyMember_EmployeeId_FamilyMember] PRIMARY KEY CLUSTERED 
(
	[EmployeeId] ASC,
	[FamilyMember] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Food]    Script Date: 25/12/2024 3:22:32 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--by yasna
CREATE TABLE [dbo].[Food](
	[ItemID] [int] NOT NULL,
	[category] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Manager]    Script Date: 25/12/2024 3:22:32 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--by yasna
CREATE TABLE [dbo].[Manager](
	[EmployeeId] [int] NOT NULL,
	[BusinessSkills] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderCustomer]    Script Date: 25/12/2024 3:22:32 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

by yansa
CREATE TABLE [dbo].[OrderCustomer](
	[OrderId] [int] NOT NULL,
	[CustomerId] [int] NOT NULL,
 CONSTRAINT [pk_CustomerOrder_OrderId_CustomerId] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC,
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 25/12/2024 3:22:32 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--by mahsa
CREATE TABLE [dbo].[Orders](
	[OrderId] [int] NOT NULL,
	[OrderPrice] [decimal](10, 2) NOT NULL,
	[ReceiptId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Receipt]    Script Date: 25/12/2024 3:22:32 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--by mahsa
CREATE TABLE [dbo].[Receipt](
	[ReceiptId] [int] NOT NULL,
	[PaymentMethod] [varchar](50) NULL,
	[TotalPrice] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ReceiptId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Restaurant]    Script Date: 25/12/2024 3:22:32 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--by mahsa
CREATE TABLE [dbo].[Restaurant](
	[RestaurantId] [int] NOT NULL,
	[RestaurantName] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[RestaurantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RestaurantItem]    Script Date: 25/12/2024 3:22:32 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--by mahsa
CREATE TABLE [dbo].[RestaurantItem](
	[ItemId] [int] NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[RestaurantId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Waiter]    Script Date: 25/12/2024 3:22:32 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--by yasna
CREATE TABLE [dbo].[Waiter](
	[EmployeeId] [int] NOT NULL,
	[SocialSkills] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

--by yasna
INSERT [dbo].[Beverage] ([ItemId], [type]) VALUES (5, N'Cold')
INSERT [dbo].[Beverage] ([ItemId], [type]) VALUES (6, N'Cold')
INSERT [dbo].[Beverage] ([ItemId], [type]) VALUES (10, N'Cold')
GO
INSERT [dbo].[Branch] ([BranchId], [BranchAddress], [RestaurantId]) VALUES (1000, N'707 Chestnut Ave, Hilltop', 1000)
INSERT [dbo].[Branch] ([BranchId], [BranchAddress], [RestaurantId]) VALUES (1200, N'123 Main St, City Center', 100)
INSERT [dbo].[Branch] ([BranchId], [BranchAddress], [RestaurantId]) VALUES (2000, N'456 Oak Rd, Downtown', 200)
GO
INSERT [dbo].[BranchOrder] ([BranchId], [OrderId]) VALUES (1000, 10)
INSERT [dbo].[BranchOrder] ([BranchId], [OrderId]) VALUES (1200, 1)
INSERT [dbo].[BranchOrder] ([BranchId], [OrderId]) VALUES (2000, 2)
GO
INSERT [dbo].[Chef] ([EmployeeId], [Speed]) VALUES (14, N'Quick')
INSERT [dbo].[Chef] ([EmployeeId], [Speed]) VALUES (16, N'Very quick')
INSERT [dbo].[Chef] ([EmployeeId], [Speed]) VALUES (17, N'Quick')
GO
INSERT [dbo].[Customer] ([CustomerId], [Name], [Address], [PhoneNo]) VALUES (1, N'Ali Rezaei', N'No. 12, Vali Asr Street, Tehran, Iran', 9123456789)
INSERT [dbo].[Customer] ([CustomerId], [Name], [Address], [PhoneNo]) VALUES (2, N'Mahnaz Farahani', N'Apt. 5, Kianabad Blvd., Shiraz, Iran', 9139876543)
INSERT [dbo].[Customer] ([CustomerId], [Name], [Address], [PhoneNo]) VALUES (3, N'Sara Tavakkol', N'Building 4, Golestan St., Isfahan, Iran', 9121112233)
GO
INSERT [dbo].[Employee] ([EmployeeId], [Name], [BDate], [Salary], [Age], [BranchId]) VALUES (1, N'Ali Soleimani', CAST(N'1990-05-12' AS Date), CAST(4500.00 AS Decimal(10, 2)), 34, 1200)
INSERT [dbo].[Employee] ([EmployeeId], [Name], [BDate], [Salary], [Age], [BranchId]) VALUES (2, N'Yasna Ghamsari', CAST(N'1985-08-22' AS Date), CAST(5500.00 AS Decimal(10, 2)), 39, 2000)
INSERT [dbo].[Employee] ([EmployeeId], [Name], [BDate], [Salary], [Age], [BranchId]) VALUES (3, N'Sima Noori', CAST(N'1992-02-10' AS Date), CAST(4800.00 AS Decimal(10, 2)), 32, 3000)
GO
INSERT [dbo].[FamilyMember] ([EmployeeId], [FamilyMember], [Name]) VALUES (11, N'Father', N'Ali Ahmadpour')
INSERT [dbo].[FamilyMember] ([EmployeeId], [FamilyMember], [Name]) VALUES (12, N'Mother', N'Zahra Kiani')
INSERT [dbo].[FamilyMember] ([EmployeeId], [FamilyMember], [Name]) VALUES (13, N'Father', N'Mohammad Hashemi')
GO
INSERT [dbo].[Food] ([ItemID], [category]) VALUES (1, N'FastFood')
INSERT [dbo].[Food] ([ItemID], [category]) VALUES (2, N'FastFood')
INSERT [dbo].[Food] ([ItemID], [category]) VALUES (3, N'FastFood')
GO
INSERT [dbo].[Manager] ([EmployeeId], [BusinessSkills]) VALUES (1, N'Leadership')
INSERT [dbo].[Manager] ([EmployeeId], [BusinessSkills]) VALUES (2, N'Project Management')
INSERT [dbo].[Manager] ([EmployeeId], [BusinessSkills]) VALUES (3, N'Team Building')
GO
INSERT [dbo].[OrderCustomer] ([OrderId], [CustomerId]) VALUES (1, 101)
INSERT [dbo].[OrderCustomer] ([OrderId], [CustomerId]) VALUES (2, 102)
INSERT [dbo].[OrderCustomer] ([OrderId], [CustomerId]) VALUES (3, 103)
GO
INSERT [dbo].[Orders] ([OrderId], [OrderPrice], [ReceiptId]) VALUES (1, CAST(50.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[Orders] ([OrderId], [OrderPrice], [ReceiptId]) VALUES (2, CAST(30.00 AS Decimal(10, 2)), 2)
INSERT [dbo].[Orders] ([OrderId], [OrderPrice], [ReceiptId]) VALUES (3, CAST(75.00 AS Decimal(10, 2)), 3)
GO
INSERT [dbo].[Receipt] ([ReceiptId], [PaymentMethod], [TotalPrice]) VALUES (1, N'Credit Card', CAST(120.50 AS Decimal(10, 2)))
INSERT [dbo].[Receipt] ([ReceiptId], [PaymentMethod], [TotalPrice]) VALUES (2, N'Cash', CAST(80.00 AS Decimal(10, 2)))
INSERT [dbo].[Receipt] ([ReceiptId], [PaymentMethod], [TotalPrice]) VALUES (3, N'Debit Card', CAST(150.75 AS Decimal(10, 2)))
GO
INSERT [dbo].[Restaurant] ([RestaurantId], [RestaurantName]) VALUES (100, N'McDonald')
INSERT [dbo].[Restaurant] ([RestaurantId], [RestaurantName]) VALUES (200, N'KFC')
INSERT [dbo].[Restaurant] ([RestaurantId], [RestaurantName]) VALUES (300, N'Barouj')
GO
INSERT [dbo].[RestaurantItem] ([ItemId], [Name], [Price], [RestaurantId]) VALUES (1, N'Pizza', CAST(8.99 AS Decimal(10, 2)), 100)
INSERT [dbo].[RestaurantItem] ([ItemId], [Name], [Price], [RestaurantId]) VALUES (2, N'Spaghetti', CAST(12.50 AS Decimal(10, 2)), 200)
INSERT [dbo].[RestaurantItem] ([ItemId], [Name], [Price], [RestaurantId]) VALUES (3, N'Pasta', CAST(6.99 AS Decimal(10, 2)), 500)
GO
INSERT [dbo].[Waiter] ([EmployeeId], [SocialSkills]) VALUES (11, N'Excellent communication')
INSERT [dbo].[Waiter] ([EmployeeId], [SocialSkills]) VALUES (12, N'Customer-focused')
INSERT [dbo].[Waiter] ([EmployeeId], [SocialSkills]) VALUES (13, N'Stress management')
GO
ALTER TABLE [dbo].[Beverage]  WITH CHECK ADD  CONSTRAINT [fk_Beverage_RestaurantItem] FOREIGN KEY([ItemId])
REFERENCES [dbo].[RestaurantItem] ([ItemId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Beverage] CHECK CONSTRAINT [fk_Beverage_RestaurantItem]
GO
ALTER TABLE [dbo].[Branch]  WITH CHECK ADD  CONSTRAINT [fk_Branch_Restaurant] FOREIGN KEY([RestaurantId])
REFERENCES [dbo].[Restaurant] ([RestaurantId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Branch] CHECK CONSTRAINT [fk_Branch_Restaurant]
GO
ALTER TABLE [dbo].[BranchOrder]  WITH CHECK ADD  CONSTRAINT [fk_BranchOrder_Branch] FOREIGN KEY([BranchId])
REFERENCES [dbo].[Branch] ([BranchId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BranchOrder] CHECK CONSTRAINT [fk_BranchOrder_Branch]
GO
ALTER TABLE [dbo].[BranchOrder]  WITH CHECK ADD  CONSTRAINT [fk_BranchOrder_Order] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([OrderId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BranchOrder] CHECK CONSTRAINT [fk_BranchOrder_Order]
GO
ALTER TABLE [dbo].[Chef]  WITH CHECK ADD  CONSTRAINT [fk_Chef_Employee] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employee] ([EmployeeId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Chef] CHECK CONSTRAINT [fk_Chef_Employee]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [fk_Employee_Branch] FOREIGN KEY([BranchId])
REFERENCES [dbo].[Branch] ([BranchId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [fk_Employee_Branch]
GO
ALTER TABLE [dbo].[FamilyMember]  WITH CHECK ADD  CONSTRAINT [fk_FamilyMember_Employee] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employee] ([EmployeeId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FamilyMember] CHECK CONSTRAINT [fk_FamilyMember_Employee]
GO
ALTER TABLE [dbo].[Food]  WITH CHECK ADD  CONSTRAINT [fk_Food_RestaurantItem] FOREIGN KEY([ItemID])
REFERENCES [dbo].[RestaurantItem] ([ItemId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Food] CHECK CONSTRAINT [fk_Food_RestaurantItem]
GO
ALTER TABLE [dbo].[Manager]  WITH CHECK ADD  CONSTRAINT [fk_Manager_Employee] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employee] ([EmployeeId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Manager] CHECK CONSTRAINT [fk_Manager_Employee]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [fk_Order_Receipt] FOREIGN KEY([ReceiptId])
REFERENCES [dbo].[Receipt] ([ReceiptId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [fk_Order_Receipt]
GO
ALTER TABLE [dbo].[RestaurantItem]  WITH CHECK ADD  CONSTRAINT [fk_RestaurantItem_Restaurant] FOREIGN KEY([RestaurantId])
REFERENCES [dbo].[Restaurant] ([RestaurantId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RestaurantItem] CHECK CONSTRAINT [fk_RestaurantItem_Restaurant]
GO
ALTER TABLE [dbo].[Waiter]  WITH CHECK ADD  CONSTRAINT [fk_Waiter_Employee] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employee] ([EmployeeId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Waiter] CHECK CONSTRAINT [fk_Waiter_Employee]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [ck_Employee_Age] CHECK  (([age]>(0)))
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [ck_Employee_Age]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [ck_Employee_Salary] CHECK  (([salary]>(0)))
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [ck_Employee_Salary]
GO
ALTER TABLE [dbo].[RestaurantItem]  WITH CHECK ADD CHECK  (([price]>(0)))
GO
ALTER TABLE [dbo].[RestaurantItem]  WITH CHECK ADD  CONSTRAINT [ck_RestaurantItem_Price] CHECK  (([price]>(0)))
GO
ALTER TABLE [dbo].[RestaurantItem] CHECK CONSTRAINT [ck_RestaurantItem_Price]
GO
USE [master]
GO
